@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');

body {
  text-align: center;
  width: 100%;
  font-family: 'Share Tech Mono', monospace;
  border-style: solid;
  margin-top: 10px;
}

#track-button, #login-btn, #signup-btn, #reset-btn {
    background-color: orange;
}

body, #contact-us {
  margin: auto;
}

footer {
  padding: 20px;
}

footer, #cart-summary, #feedback textarea {
  background-color: black;
}

.footer_class{
  text-align:right;
}
#contact, #faq {
  color: white;
  display: inline-block;
}

#faq {
  margin-right: 5%;
}

.errorMsg {
  color: rgb(240, 9, 9);
}