<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>MINI UPS</title>

    <!-- This is the bootstrap for navibar  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="styles.css" />
    <script src="index.js"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">MINI UPS</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <!-- <li><a href="#">About</a></li>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Contact</a></li> -->
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a id="logoutputprompt" href="/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <!-- <div>
      <h1 id="logo">MINI UPS</h1>
      <button id="all">Shop All</button>
      <button id="cart">Cart</button>
    </div> --> 

      <ul>
        <% orders.forEach(function(order){ %>
          <li>  UserName: <%= order.UserName %> TrackNum: <%= order.TrackNum %> WarehouseID:  <%= order.WarehouseID %> </li>
        <% }); %>
      </ul>
    </body>
   

    <footer>
      <div class="footer_class">
        <div id="faq">
          <h4>FAQ</h4>
        </div>
        <div id="contact">
          <h4>Contact Us</h4>
        </div>
      </div>
    </footer>
  </body>
</html>
